{{define "title"}}Home{{end}}

{{define "main"}}
{{if .Form}}
<table>
    <thead>
        <tr>
            <th>User Commented</th>
            <th>Status</th>
            <th>Body</th>
            <th>
                Forum
            </th>
            <th>
                action
            </th>
        </tr>
    </thead>
    <tbody>
        {{ range .Form }}
        <tr>
            <td>{{ .UserCommented }}</td>
            <td>{{ .Status }}</td>
            <td>{{ .Body }}</td>
            {{if ne .ForumID 0}}
            {{if ne .UserCommentedID -1}}
            <td>
                <a href="/forum/view/{{ .ForumID }}">reported post</a>
            </td>
            {{else}}
            <td>
                asked for moder role
            </td>
            {{end}}
            {{else}}
            <td>
                created post
            </td>
            {{end}}
            {{if eq .Status "moder"}}
            {{if eq .ForumID -1}}
            <td>
                <a href="/user/notification/remove/{{.ID}}">accept</a>
            </td>
            {{else}}
            <td>
                <a href="/moderation/forum/{{.ID}}/{{.ForumID}}">accept</a> |
                <a href="/user/notification/remove/{{.ID}}">remove</a>
            </td>
            {{end}}
            {{else}}
            {{if ne .ForumID 0}}
            <td>
                <a href="/user/notification/remove/{{.ID}}">skip</a> |
                <a href="/user/report/remove/{{.ID}}/{{.ForumID}}/{{.UserID}}">remove</a>
            </td>
            {{else}}
            <td>
                <a href="/moderation/accept/{{.ID}}/{{.UserCommentedID}}">accept</a> |
                <a href="/user/notification/remove/{{.ID}}">remove</a>
            </td>
            {{end}}
            {{end}}
        </tr>
        {{ end }}
    </tbody>
</table>
{{else}}
<p>There's nothing to see here... yet!</p>
{{end}}
{{end}}