{{define "title"}}Report{{end}}

{{define "main"}}
<h2>Report Content</h2>
<form method="post">
    <label>
        <input type="checkbox" name="reportType" value="irrelevant"> Irrelevant
    </label>
    <label>
        <input type="checkbox" name="reportType" value="obscene"> Obscene
    </label>
    <label>
        <input type="checkbox" name="reportType" value="harassment"> Harassment
    </label>
    <label>
        <input type="checkbox" name="reportType" value="illegal"> Illegal
    </label>
    <label>
        <input type="checkbox" name="reportType" value="insulting"> Insulting
    </label><br>
    <label for="reportDetails">Additional Details:</label>
    <textarea id="reportDetails" name="reportDetails" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Submit Report">
</form>
{{end}}