{{define "title"}}Forum {{with .Forum}}#{{.ID}}{{end}}{{end}}

{{define "main"}}
    {{with .Forum}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metadata'>
            <time>Created: {{humanDate .Created}}</time>
            <time>Expires: {{humanDate .Expires}}</time>
        </div>
        <div class='metadata'>
            <form method="post" action="/forum/like/{{.ID}}">
                {{if .Reacted}}
                    {{if .Liked}}
                        <button class="like-button liked" type="submit" name="button" value="like">like</button>
                        <span class="likes">{{.LikesCount}}</span>
                        <button class="dislike-button not-disliked" type="submit" name="button" value="dislike">dislike</button>
                        <span class="dislikes">{{.DislikesCount}}</span>
                    {{else}}
                        <button class="like-button not-liked" type="submit" name="button" value="like">like</button>
                        <span class="likes">{{.LikesCount}}</span>
                        <button class="dislike-button disliked" type="submit" name="button" value="dislike">dislike</button>
                        <span class="dislikes">{{.DislikesCount}}</span>
                    {{end}}
                {{else}}
                    <button class="like-button not-liked" type="submit" name="button" value="like">like</button>
                    <span class="likes">{{.LikesCount}}</span>
                    <button class="dislike-button not-disliked" type="submit" name="button" value="dislike">dislike</button>
                    <span class="dislikes">{{.DislikesCount}}</span>
                {{end}}
            </form>
        </div>
    </div>
    <form method="post" action="/forum/comment/{{.ID}}">
        <label for="text-input">Enter Text:</label>
        <input type="text" id="comment" name="comment" required>
        <button type="submit">Submit</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Comment</th>
                <th>User</th>
                <th>Reaction</th>
            </tr>
        </thead>
        <tbody>
            {{range .Comment}}
            <form method="post" action="/forum/likeComment/{{.CommentID}}">
            <tr>
                <td>{{.Comment}}</td>
                <td>{{.User}}</td>
                <td>
                    {{if .Reacted}}
                        {{if .Liked}}
                        <button class="like-button liked" type="submit" name="button" value="like">like</button>
                            <span class="likes">{{.LikesCount}}</span>
                            <button class="dislike-button not-disliked" type="submit" name="button" value="dislike">dislike</button>
                            <span class="dislikes">{{.DislikesCount}}</span>
                        {{else}}
                            <button class="like-button not-liked" type="submit" name="button" value="like">like</button>
                            <span class="likes">{{.LikesCount}}</span>
                            <button class="dislike-button disliked" type="submit" name="button" value="dislike">dislike</button>
                            <span class="dislikes">{{.DislikesCount}}</span>
                        {{end}}
                    {{else}}
                        <button class="like-button not-liked" type="submit" name="button" value="like">like</button>
                        <span class="likes">{{.LikesCount}}</span>
                        <button class="dislike-button not-disliked" type="submit" name="button" value="dislike">dislike</button>
                        <span class="dislikes">{{.DislikesCount}}</span>
                    {{end}}
                    </td>
                </tr>
                </form>
                {{end}}
            </tbody>
        </table>
    {{end}}
{{end}}